@inherits LayoutComponentBase

@if (_initialized)
{
    <Recrovit.RecroGridFramework.Client.Blazor.Components.RgfComponentWrapper ComponentType="_libraryWrapper" @key="_contentKey">
        <header>
            <div>
                <AuthorizeView>@_menu</AuthorizeView>
            </div>
            <div class="theme-switcher">
                <div>
                    <div class="login-display">
                        <LoginDisplay />
                    </div>
                    <div>
                        @if (_themes != null)
                        {
                            @_themes
                        }
                    </div>
                    <div class="lib">
                        <select value="@_currentLibrary" @onchange="OnLibrarySelectionChanged">
                            @foreach (var lib in Libraries)
                            {
                                <option value="@lib">@lib</option>
                            }
                        </select>
                        <select value="@_recroSec.UserLanguage" @onchange="(args) => _recroSec.SetUserLanguageAsync(args.Value?.ToString())">
                            @foreach (var language in _recroDict.Languages)
                            {
                                <option value="@language.Key">@language.Value</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </header>
        <div class="page">
            <main>
                <article class="content">
                    @Body
                </article>
            </main>
        </div>
    </Recrovit.RecroGridFramework.Client.Blazor.Components.RgfComponentWrapper>
}